<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-project</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="container">
            <form action="/data" method="post">
                <h1>Enter Train No./Name</h1>
                <input type="text" name="name" placeholder="Train No./Name">
                <button type="submit">search</button>
            </form>
        </div>
    </div>
</body>
</html>